<form class="editingForm" [formGroup]="EditZoneGroup">
  <label>Временная зона</label>
  <input id="zone" formControlName="zone">
  <p *ngIf='this.EditZoneGroup.controls["zone"].invalid
      && (this.EditZoneGroup.controls["zone"].dirty
      || this.EditZoneGroup.controls["zone"].touched)'>
      Зона должна начинаться с + или - и иметь число от 0 до 12
</p><br>
  <label>Название города</label>
  <input id="cityName" formControlName="cityName">
  <p *ngIf='this.EditZoneGroup.controls["cityName"].invalid
      && (this.EditZoneGroup.controls["cityName"].dirty
    || this.EditZoneGroup.controls["cityName"].touched)'>
    Название города должно быть длинной меньше 40 символов
  </p>
  <div class="buttons">
    <button routerLink="">
      Отмена
    </button>
    <div *ngIf="this.EditZoneGroup.invalid">
      <button disabled>
        Сохранить
      </button>
    </div>
    <div *ngIf="this.EditZoneGroup.valid">
      <button (click)="updateTimeZone()">
        Сохранить
      </button>
    </div>
  </div>
</form>
