<form class="editingForm" [formGroup]="EditZoneGroup">
  <mat-form-field class="formItem">
    <mat-label>Time Zone</mat-label>
    <input matInput id="offset" formControlName="offset">
    <mat-error *ngIf='this.EditZoneGroup.controls["offset"].invalid
       && (this.EditZoneGroup.controls["offset"].dirty
      || this.EditZoneGroup.controls["offset"].touched)'>
      Time Zone must be like + or - and number of offset, example: +0
    </mat-error>
  </mat-form-field>
  <mat-form-field class="formItem">
    <mat-label>City Name</mat-label>
    <input matInput id="cityName" formControlName="cityName">
    <mat-error *ngIf='this.EditZoneGroup.controls["cityName"].invalid
      && (this.EditZoneGroup.controls["cityName"].dirty
     || this.EditZoneGroup.controls["cityName"].touched)'>
      City name lenght must be less then 40 symbols
    </mat-error>
  </mat-form-field>
  <div class="buttons">
    <button routerLink="" mat-flat-button style="background-color: rgba(144, 143, 143, 0.523);">
      Decline
    </button>
    <ng-container *ngIf="this.EditZoneGroup.invalid; else Valid">
      <button mat-flat-button disabled>
        Save
      </button>
    </ng-container>
    <ng-template #Valid>
      <button mat-flat-button style="background-color: rgb(17, 199, 17);" (click)="updateTimeZone()">
        Save
      </button>
    </ng-template>
  </div>
</form>
